.button-group button {
  min-width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.online {
  height: 1rem;
  width: 1rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
  border-radius: 100%;
  animation: online-indication 10s linear infinite;
  background: rgb(119, 235, 119);
}

.online::before,
.online::after {
  content: "";
  border: 1px solid rgb(240, 248, 233);
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  animation: radiate-away 2s ease-in infinite;
}

.online::after {
  animation: radiate-away 2s ease-in infinite 1s;
}

.presence {
  position: absolute;
  top: 10%;
  right: 10%;
}

@keyframes radiate-away {
  100% {
    transform: scale(3);
    opacity: 0;
  }
}
